@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box !important;
  height: 100%;
  min-width: 20rem;
  line-height: 1.414;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: #333333;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  vertical-align: top;
  background-repeat: no-repeat;
}

.scrollable {
  max-height: calc(100%-106px);
}

.job-listing-card {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.job-listing-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25), 0 3px 12px rgba(0, 0, 0, 0.1);
}

.job-listing-top-information::after {
  content: " ";
  display: block;
  margin-top: 10px;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: -15px;
}
